@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --bg-color: #181818;
  --text-color: #e5e5e5;
  --highlight-color: #06b6d4;
  --highlight-text: "Fira Code";
  --main-font: "Inter";
  --subtext-color:#A3A3A3; 
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  font-size: 2.3rem;
  padding: 10px 30px;
}

header > nav > ul{
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-family: var(--main-font), "sans-serif";
}

main{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.hero-section{
  margin-top: 20vh;
  font-size: 2rem;
}
.hero-section > h1{
  font-family: var(--main-font);
  text-align: center;
  font-weight: bold;
}

.highlight{
  color: var(--highlight-color);
  font-family: var(--highlight-text);
}

.hero-section > p{
  color: var(--subtext-color);
  font-family: var(--main-font);
}

.hero-section > .buttons{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50vh;
}
#projects > h2{
  font-size: 3rem;
  font-family: var(--main-font);
}

#projects > .projects-container{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 2rem; /* space between cards */
  margin-top: 10vh;
}


.project-card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #1a1a1a; /* optional subtle card background */
  transition: all 0.2s;
  text-align: center;
}
